<div class="container">
  <div class="row">
    <div class="col-md-12 center">
      <h1>
        Welcome to {{ title }}!
      </h1>
      <div class="col-md-12">
        <p>
          In this work, I've learned AngularJS in different ways and it was great ! It's an other side to create Website. As far as I'm concerned, I find that AngularJS is about the similar framework like Laravel with :
        </p>
        <ul class="list-group">
          <li class="list-group-item">Controller</li>
          <li class="list-group-item">Routing</li>
          <li class="list-group-item">Squeleton</li>
        </ul>
        <p>
          This is the first time I work with a system other than PHP and I am pleasantly surprised.
          AngularJS is very efficient and I only ask to improve myself in this framework.
        </p>
      </div>
      
    </div>
  </div>
</div>
